.header {
    font-size: 1.8rem;
    padding: 0 3em;
    margin-right: 20%;
    margin-top: 5em;
}

.header h1 {
    margin-bottom: 0.7em;
}

.research-paper-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    padding: 0 3em;
    max-width: 80%;
    margin: auto;
    margin-top: 5em;
}

.research-paper-header h1 {
    margin-bottom: 0.7em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 7em;
    margin: 10em 5em 5em 5em;
}

.project-item {
    max-width: 400px;
    text-align: center;
}

.project-item img {
    box-shadow: inset rgba(0, 7, 45, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 2em;
    max-width: 350px;
    /* border: 3px var(--dark) solid; */
}

.project-desciption h1 {
    font-size: 2rem;
    margin: 1em 0;
    text-decoration: underline #00ff9c 8px;
    text-decoration-skip-ink: none;
    text-underline-offset: -4px;
}

/* 
.project-item a {
    border: 2px var(--dark) solid;
    border-radius: 0.8em;
    padding: 0.5em 1em;
} */

/* .project-item img:hover,
.project-item img:active {
    max-width: 410px;
} */

@media only screen and (max-width: 600px) {
    .header {
        font-size: 1.3rem;
        padding: 0 1em;
        margin-right: 0;
        margin-top: 1.5em;
    }

    .research-paper-header {
        font-size: 1.3rem;
        margin-top: 1.5em !important;
        padding: 0 1em;
        max-width: 95%;
        margin: auto;
    }

    .projects-container {
        margin-top: 5em;
        gap: 5em;
    }

    .project-item img {
        max-width: 250px;
    }
}