a {
    text-decoration: none;
    color: var(--dark);
}

.about-container {
    color: var(--dark);
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    margin-top: 3em;
}

.about-container h1 {
    display: block;
    font-size: 52px;
    line-height: 64px;
}

.about {
    padding: 0 2em;
}

.profile-picture {
    padding: 0 2em;
    margin: 0 auto;
}

.profile-picture img {
    border-radius: 24px;
}

@media only screen and (max-width: 600px) {
    .about-container {
        flex-direction: column-reverse;
        /* padding: 0 1em; */
        margin-top: 1em;
    }

    .about-container h1 {
        font-size: 36px;
        line-height: 36px;
    }

    .about {
        padding: 0 1em;
    }

    .profile-picture {
        padding: 0 0.8em;
    }

    .profile-picture img {
        max-width: 320px;
    }


}