
form {
    font-size: 1rem;
}
.contact-me{
    display: flex;
    flex-direction: row;
    margin: 5em auto auto auto;
}
.contact-header{
    width: 40%;
    padding-left: 2em;
    margin: auto;
}
.contact-me h1 {
    font-size: 4rem;
    /* margin-left: 5px; */
}

.contact-box {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contact-box .inputbox input,
.contact-box .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--dark);
    background-color: transparent;
    box-shadow: inset 0px 2px 6px rgb(0 0 0 / 15%);
    padding: 16px 20px;    
    outline: none;
    font-size: 13px;
    min-height: 42px;
}

.contact-box .inputbox label {
    padding:5px 0;
    pointer-events: none;
    transition: 0.5s;
    left: 0;
    margin-left: 0.3em;
    margin-bottom: 3em;
    font-weight: bold;
}


.submit button {
    padding: 1.3em;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dark);
    border: none;
    outline: none;
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    box-shadow:2px 6px 10px rgb(0 0 0 / 10%) !important;

}


@media (max-width: 768px) {
    .contact-me{
        flex-direction: column;
    }
    .contact-header{
        width: 90%;
        margin: auto;
    }
    .contact-me h1 {
        font-size: 2.7rem;
    }
    .contact-box {
        width: 90%;
        margin: auto;
    }

}