.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 5em 2em 5em; */
    padding: 1em;
    color: var(--dark);
}

.navLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    font-size: 0.9rem;
}

/* .logo {
    color: red;
    background-color: inherit;

} */

.navbar img {
    width: 50px;
}

.navMenu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;

}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    /* border-bottom: 2px solid var(--dark); */
    border: 2px solid var(--dark);
    border-radius: 28px;
    padding: 8px 36px;
    color: var(--dark);
    /* background-color: var(--white); */
}

.navbar ul li a:hover {
    transition: 0.5s;
    background-color: var(--dark);
    color: var(--white);
}

.active {
    color: red;
    background-color: red;
}

@media (max-width: 768px) {
    .navMenu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--dark);
        color: var(--white);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navbar ul li a {
        color: var(--white);
    }

    .navItem {
        margin: 16px 0;
    }
}