footer {
    padding: 5em 4em;
    padding-bottom: 1.5em !important;
}

.logo img {
    max-width: 100px;
}

.emailText {
    color: var(--orange);
}

.toconnect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 0.3em;
}

.socials {
    margin-top: 1em;
}

.socials a {
    margin: 1em;
}

.credits {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

@media (max-width: 768px) {
    footer {
        margin-top: 2em;
        padding: 1em;
    }

    .credits {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1em;
    }

    .toconnect {
        flex-direction: column;

    }
}