footer {
    padding: 5em 4em;
}

.logo img {
    max-width: 100px;
}

.email {
    color: #ff753a;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 0.3em;
}

.credits {
    display: flex;
    justify-content: space-between;
    padding: auto 2em;
    margin-top: 2em;
}

@media (max-width: 768px) {
    footer {
        padding: 1em;
    }
    .credits {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1em;
    }

}